<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91471994732-hlaj4v0ah2dio4lk9l4e7b61qkijckbi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91471994732-hlaj4v0ah2dio4lk9l4e7b61qkijckbi</string>
	<key>API_KEY</key>
	<string>AIzaSyBPS-EgZM7y5GjobuMX0WvUHUr3JMbA9Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>91471994732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chamitosapp</string>
	<key>PROJECT_ID</key>
	<string>chamitosapp</string>
	<key>STORAGE_BUCKET</key>
	<string>chamitosapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91471994732:ios:b78b58b1ce969f5a675d49</string>
	<key>DATABASE_URL</key>
	<string>https://chamitosapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>